<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.game.hit_it">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_display"
        android:label="@string/app_name"
        android:name=".AppController"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Newone"
        android:screenOrientation="portrait">
        <activity android:name=".login"
            android:screenOrientation="portrait"/>
        <activity android:name=".register"
            android:screenOrientation="portrait"/>
        <activity android:name=".ranking_page"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".score_page" />
        </activity>
        <activity android:name=".score_page"
            android:screenOrientation="portrait"/>
        <activity android:name=".play_page"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".splash_screen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>